{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="description">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ECOM</title>
        

        <!-- Favicon -->


        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'styles/plugins.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


        <!-- Bootstap CSS -->
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">


        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
        
        <style>
            .img:hover{
                backdrop-filter: blur(10px);
                filter: blur(4px);
                transition: 0.5s ease;
            }

            /* The sticky class is added to the navbar with JS when it reaches its scroll position */
            .sticky {
                position: fixed;
                top: 0;
                width: 100%;
            }

            /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
            .sticky + .content {
                padding-top: 60px;
            }

            li{
                font-weight: bolder;
            }

            body{
                font-family: zurichultraBlkExbt;	
            }

        </style>

    </head>
    <body class="template-index home8-jewellery belle">
        
        <div id="pre-loader">
            <img src="{% static 'images/loader.gif' %}" alt="Loading..." />
        </div>


        <div class="pageWrapper">
            <div id="navbar" style="z-index: 1;" >
                    
                <!--Search Form Drawer-->
                <div class="search">
                    <div class="search__form">
                        <form class="search-bar__form" action="#">
                            <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                            <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
                        </form>
                        <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
                    </div>
                </div>
                <!--End Search Form Drawer-->


                <!--Top Header-->
                
                <!--End Top Header-->


                <!-- mobile header -->
                <div class="d-lg-none" style="padding: 10px;background-color: white;" >
                    <div class="container">

                        <!-- desktop nav -->
                        <div class="row ">

                            <div class="col d-lg-none float-left" >
                                <button type="button" class="site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                    <i class="icon anm anm-times-l"></i>
                                    <i class="anm anm-bars-r"></i>
                                </button>
                            </div>

                            
                            <div class="col " style="object-fit: contain; position: relative;">
                                <a href="{% url 'homepage_view' %}" >
                                    <img src="{% static 'images/logo/logo.svg' %}" style="width: 400px;"  alt="">
                                </a>
                            </div>
                            
                            <div class="col">
                                <div class="site-cart d-block" style=" margin-left: 1vw;">
                                    <a href="{% url 'cart_view' %}">
                                        <img class="icon anm anm-bag-l" src="{% static 'images/logo/Bag.svg' %}"></img>
                                    </a>
                                        <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ count }}</span>
                                       
                                </div>
                                <button type="button"  style="border: none;float:right; position:relative;" class="search-trigger"><i style="font-size: 1.3em;" class="icon anm anm-search-l"></i></button>  
                            </div>

                        </div>

                    </div>
                </div>
                <!-- mobile header ends -->


                <!--Header-->
                <div style="padding: 22px;background-color: white;"  class="nav d-none d-lg-block">
                    <div class="container">

                        <!-- desktop nav -->
                        <div class="row align-items-start">
                                
                            <div class="col d-none d-lg-block float-left" >
                                <a href="{% url 'product_detail' id=143 %}"><img src="{% static 'images\logo\star.svg' %}" style="margin-right: 1vw;" alt=""></a>
                                <!-- <a href=""><img src="{% static 'images\logo\profile.svg' %}" alt=""></a> -->
                                <a href=""><img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" style="border-radius: 50%; width: 8%"></a>

                            </div>
                        
                            
                            <div class="col d-none d-lg-block" style="margin-left: 10vw;" >
                                <a href="{% url 'homepage_view' %}" >
                                <img href="{% url 'homepage_view' %}" src="{% static 'images/logo/logo.svg' %}" style="max-width: 200px;">
                            </a>
                            </div>
                            

                            <div class="col float-right">
                                <div class="site-cart d-block" style=" margin-left: 1vw;">
                                    
                                    <a href="{% url 'cart_view' %}">
                                        
                                        <img href="{% url 'cart_view' %}" class="icon anm anm-bag-l" src="{% static 'images/logo/Bag.svg' %}"></img>
                                    </a>
                                        <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ count }}</span>
                                    
                                </div>
                                <button type="button"  style="border: none;float:right; position:relative;" class="search-trigger"><img style="font-size: 1.3em;" src="{% static 'images/logo/Search .svg' %}" class="icon anm anm-search-l"></img></button>
                            </div>

                        </div>
                    </div>
                </div>


                <!--Desktop Menu-->
                <nav class="belowlogo" id="AccessibleNav" style="background-color: white;"  >
                    <ul id="siteNav" class="site-nav medium center hidearrow" >

                        {% if latest %}
                            <li class="lvl1 parent megamenu"><a href="#" >Latest<i class="anm anm-angle-down-l"></i></a>
                        {% endif %}
                        
                        {% if featured %}
                            <li class="lvl1 parent megamenu"><a href="#" >Featured<i class="anm anm-angle-down-l"></i></a>
                        {% endif %}

                        {% for Group in Groups %}
                            <li class="lvl1 parent megamenu"><a href="{% url 'category_view' category=Group.GroupTitle %}"  >{{ Group.GroupTitle }} <i class="anm anm-angle-down-l"></i></a>
                                <div class="megamenu style1" >
                                    <ul class="grid mmWrapper">
                                        <li class="grid__item large-up--one-whole">
                                            <ul class="grid">
                                                {% for SubGroup in Group.SubGroups %}
                                                    <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="{% url 'category_gender_view' category=Group.GroupTitle gender=SubGroup.SubGroupTitle %}" class="site-nav lvl-1">{{ SubGroup.SubGroupTitle}}</a>
                                                        <ul class="subLinks">
                                                            {% for GroupItem in SubGroup.GroupItems %}
                                                                <li class="lvl-2"><a href="{% url 'category_gender_subcategory_view' category=Group.GroupTitle gender=SubGroup.SubGroupTitle subcategory=GroupItem%}" class="site-nav lvl-2">{{ GroupItem }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                <!--End Desktop Menu-->

                <!--End Header-->

                
                <!--Mobile Menu-->
                <div class="mobile-nav-wrapper" role="navigation" >
                    <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>

                    <ul id="MobileNav" class="mobile-nav">

                        <li class="lvl1 parent megamenu"><a href="index.html">FEATURED<i class="anm anm-plus-l"></i></a>
                            <ul>
                                <li><a href="#" class="site-nav">Home Group 2<i class="anm anm-plus-l"></i></a>
                                    <ul>
                                        <li><a href="home8-jewellery.html" class="site-nav">Home 8 - Jewellery</a></li>
                                        <li><a href="home9-parallax.html" class="site-nav">Home 9 - Parallax</a></li>
                                        <li><a href="home10-minimal.html" class="site-nav">Home 10 - Minimal</a></li>
                                        <li><a href="home11-grid.html" class="site-nav">Home 11 - Grid</a></li>
                                        <li><a href="home12-category.html" class="site-nav">Home 12 - Category</a></li>
                                        <li><a href="home13-auto-parts.html" class="site-nav">Home 13 - Auto Parts</a></li>
                                        <li><a href="home14-bags.html" class="site-nav last">Home 14 - Bags</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        {% for Group in Groups %}
                            <li class="lvl1 parent megamenu"><a href="{% url 'category_view' category=Group.GroupTitle %}"  >{{ Group.GroupTitle }} <i class="anm anm-plus-l"></i></a>
                                <ul>
                                    {% for SubGroup in Group.SubGroups %}
                                        <li><a href="{% url 'category_gender_view' category=Group.GroupTitle gender=SubGroup.SubGroupTitle %}" class="site-nav">{{ SubGroup.SubGroupTitle}}<i class="anm anm-plus-l"></i></a>
                                            <ul>
                                                {% for GroupItem in SubGroup.GroupItems %}
                                                    <li><a href="{% url 'category_gender_subcategory_view' category=Group.GroupTitle gender=SubGroup.SubGroupTitle subcategory=GroupItem%}" class="site-nav">{{ GroupItem }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}


                    </ul>
                </div>
                <!--End Mobile Menu-->
                
            </div>




        <div id="page-content">
        <!--Page Title-->
        <div class="page section-header text-center">
            <div class="page-title">
                <div class="wrapper"><h1 class="page-width">Checkout</h1></div>
            </div>
        </div>
        <!--End Page Title-->
        
        <div class="container">
        <center> <div class="customer-box returning-customer">
                <h3><i class="icon anm anm-user-al"></i> Returning customer? <a href="#customer-login" id="customer" class="text-white text-decoration-underline" data-toggle="collapse">Click here to login</a></h3>
                <div id="customer-login" class="collapse customer-content">
                    <div class="customer-info">
                        <p class="coupon-text">If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                        <form>
                            <div class="row">
                                <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <label for="exampleInputEmail1">Email address <span class="required-f">*</span></label>
                                    <input type="email" class="no-margin" id="exampleInputEmail1">
                                </div>
                                <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <label for="exampleInputPassword1">Password <span class="required-f">*</span></label>
                                    <input type="password" id="exampleInputPassword1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check width-100 margin-20px-bottom">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value=""> Remember me!
                                        </label>
                                        <a href="#" class="float-right">Forgot your password?</a>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div></center>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
            
                </div>

            
            </div>

            <div class="row billing-fields">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
                    <div class="create-ac-content bg-light-gray padding-20px-all">
                        <form>
                            <fieldset>
                                <h2 class="login-title mb-3">Billing details</h2>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-firstname">First Name <span class="required-f">*</span></label>
                                        <input name="firstname" value="" id="input-firstname" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-lastname">Last Name <span class="required-f">*</span></label>
                                        <input name="lastname" value="" id="input-lastname" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-email">E-Mail <span class="required-f">*</span></label>
                                        <input name="email" value="" id="input-email" type="email">
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-telephone">Telephone <span class="required-f">*</span></label>
                                        <input name="telephone" value="" id="input-telephone" type="tel">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                        <label for="input-company">Company</label>
                                        <input name="company" value="" id="input-company" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-address-1">Address <span class="required-f">*</span></label>
                                        <input name="address_1" value="" id="input-address-1" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                        <label for="input-address-2">Apartment <span class="required-f">*</span></label>
                                        <input name="address_2" value="" id="input-address-2" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-city">City <span class="required-f">*</span></label>
                                        <input name="city" value="" id="input-city" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-postcode">Post Code <span class="required-f">*</span></label>
                                        <input name="postcode" value="" id="input-postcode" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-country">Country <span class="required-f">*</span></label>
                                        <select name="country_id" id="input-country">
                                            <option value=""> --- Please Select --- </option>
                                            <option value="244">Aaland Islands</option>
                                            <option value="1">Afghanistan</option>
                                            <option value="2">Albania</option>
                                            <option value="3">Algeria</option>
                                            <option value="4">American Samoa</option>
                                            <option value="5">Andorra</option>
                                            <option value="6">Angola</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-zone">Region / State <span class="required-f">*</span></label>
                                        <select name="zone_id" id="input-zone">
                                            <option value=""> --- Please Select --- </option>
                                            <option value="3513">Aberdeen</option>
                                            <option value="3514">Aberdeenshire</option>
                                            <option value="3515">Anglesey</option>
                                            <option value="3516">Angus</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="form-group form-check col-md-12 col-lg-12 col-xl-12">
                                        <label class="form-check-label padding-15px-left">
                                            <input type="checkbox" class="form-check-input" value=""><strong>Create an account ?</strong>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-12 col-lg-12 col-xl-12">
                                        <label for="input-company">Order Notes <span class="required-f">*</span></label>
                                        <textarea class="form-control resize-both" rows="3"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td><a target="_blank" href="img_forest.jpg">
                                        <img src="{% get_media_prefix %}{{product.image}}" style="width: 100px; height: auto;" alt="Forest" style="width:150px">
                                    </a></td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.subtotal }}</td>
                                </tr>
                            {% endfor %}
                        
                        </tbody>
                        
                    </table>
                        <div class="customer-box customer-coupon">
                            <h3 class="font-15 xs-font-13"><i class="icon anm anm-gift-l"></i> Have a coupon? <a href="#have-coupon" class="text-white text-decoration-underline" data-toggle="collapse">Click here to enter your code</a></h3>
                            <div id="have-coupon" class="collapse coupon-checkout-content">
                                <div class="discount-coupon">
                                    <div id="coupon" class="coupon-dec tab-pane active">
                                        <p class="margin-10px-bottom">Enter your coupon code if you have one.</p>
                                        <label class="required get" for="coupon-code"><span class="required-f">*</span> Coupon</label>
                                        <input id="coupon-code" required="" type="text" class="mb-3">
                                        <button class="coupon-btn btn" type="submit">Apply Coupon</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
        </div>
        <div class="btn_container">
            <!-- Payment Button -->
            <button class="btn" id="pay-btn">Proceed to Pay</button>
        </div>

<!--Footer-->
<footer id="footer" class="footer-3">
    <div class="site-footer">
        <div class="container">
            <!--Footer Links-->
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        <h4 class="h4" style="font-family: zurichultraBlkExbt;">Contact Us</h4>
                        <ul class="addressFooter" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                            
                            <li class="phone"><i class="icon anm anm-phone-s"></i><p>(123) 000 000 0000</p></li>
                            <li class="email"><i class="icon anm anm-envelope-l"></i><p>email</p></li>
                            <li><i class="fa-brands fa-instagram"></i>  Reppin.co</li>
                        </ul>
                        
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4" style="font-family: zurichultraBlkExbt;">Informations</h4>
                        <ul style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4"  style="font-family: zurichultraBlkExbt;">Customer Services</h4>
                        <ul style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                            <li><a href="#">Refund & Returns </a></li>
                            <li><a href="#">Shipping policy</a></li>
                            <li><a href="#">Other Policies</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4"  style="font-family: zurichultraBlkExbt;">Stay Connected </h4>
                        <ul style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
                            <li> 
                                <a href="#"> <img src="{% static 'images/footer/insta.jpeg' %}" style="height: 20vh;" alt=""> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Footer Links-->
            <hr>
            <div class="footer-bottom">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->
<!--Scoll Top-->
<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
<!--End Scoll Top-->


<!-- Razorpay's Javascript code. -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	var options = {
	
	// Enter the Key ID generated from the Dashboard
	key: "{{ razorpay_merchant_key }}",
	
	// Amount is in currency subunits.
	// Default currency is INR. Hence,
	// 50000 refers to 50000 paise
	amount: "{{ razorpay_amount }}",
	currency: "{{ currency }}",
	
	// Your/store name.
	name: "Reppin",
	
	// Pass the `id` obtained in the response of Step 1
	order_id: "{{ razorpay_order_id }}",
	callback_url: "{{ callback_url }}",
	};
	
	// initialise razorpay with the options.
	var rzp1 = new Razorpay(options);
	
	// add event listener to the payment button.
	document.getElementById("pay-btn").onclick = function (e) {
	rzp1.open();
	e.preventDefault();
	};
</script>


<!-- Including Jquery -->
<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
<script src="{% static 'js/vendor/wow.min.js' %}"></script>
<script src="{% static 'js/vendor/instagram-feed.js' %}"></script>
<!-- Including Javascript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/lazysizes.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!--Instagram Js-->
<script>
    var userFeed = new Instafeed({
        get: 'user',
        userId: '8983165779',
        accessToken: '8983165779.1677ed0.f3242e4ff60b428a81c25d118e02f44f',
        resolution: 'low_resolution',
        sortBy: 'most-recent',
        limit: 8,
        template: '<div class="insta-img"><a href="{{link}}" target="_blank"><img src="{{image}}" /></a></div>',
    });
    userFeed.run();
</script>
<!--End Instagram Js-->
<script>
    window.onscroll = function() {myFunction()};

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } 
        else {
            navbar.classList.remove("sticky");
        }
    }
</script>
    
</div>
</body>
</html>