{% extends '../base.html' %}
{% load static %}  
{% block body %}
          
    <!--Body Content-->
    <div id="page-content" style="margin-top: 5vh;">
    	
        
        <div class="container">
        	<div class="row">
            	<!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
                	<div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                	<div class="sidebar_tags">
                        <div class="sidebar_widget filterBox filter-widget">
                            <b> PRODUCT FILTERS</b>    
                        </div>
                        <!--Price Filter-->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                            	<h2>Price</h2>
                            </div>
                            <form action="#" method="post" class="price-filter">
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                	<div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="no-margin"><input id="amount" type="text"></p>
                                    </div>
                                    <div class="col-6 text-right margin-25px-top">
                                        <button class="btn btn-secondary btn--small">filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Price Filter-->
                        <!--Size Swatches-->
                        <div class="sidebar_widget filterBox filter-widget size-swacthes">
                            <div class="widget-title"><h2>Size</h2></div>
                            <div class="filter-color swacth-list">
                            	<ul>
                                    <li><span class="swacth-btn checked">X</span></li>
                                </ul>
                            </div>
                        </div>
                        <!--End Size Swatches-->
                      
                        <!--Brand-->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title"><h2>Brands</h2></div>
                            <ul>
                                <li>
                                  <input type="checkbox" value="allen-vela" id="check1">
                                  <label for="check1"><span><span></span></span>Allen Vela</label>
                                </li>
                            </ul>
                        </div>
                        <!--End Brand-->
                          <!--Type-->
                          <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title"><h2>TYPE</h2></div>
                            <ul>
                                <li>
                                  <input type="checkbox" value="allen-vela" id="check1">
                                  <label for="check1"><span><span></span></span>lows</label>
                                </li>
                                <li>
                                  <input type="checkbox" value="oxymat" id="check3">
                                  <label for="check3"><span><span></span></span>mids</label>
                                </li>
                                <li>
                                  <input type="checkbox" value="vanelas" id="check4">
                                  <label for="check4"><span><span></span></span>tops</label>
                                </li>
                              
                            </ul>
                        </div>
                        <!--End Type-->
              
                    </div>
                </div>
                <!--End Sidebar-->
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                	
                   
                	<div class="productList product-load-more">
                    	<!--Toolbar-->
                        <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
                    	<div class="toolbar">
                        	<div class="filters-toolbar-wrapper">
                            	<div class="row">
                                	<div class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">
                                    	<a href="shop-left-sidebar.html" title="Grid View" class="change-view change-view--active">
                                        	<img src="{% static '/images/grid.jpg' %}" alt="Grid" />
                                        </a>
                                        <a href="shop-listview.html" title="List View" class="change-view">
                                        	<img src="{% static '/images/list.jpg' %}" alt="List" />
                                        </a>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                    	<span class="filters-toolbar__product-count">Showing: 22</span>
                                    </div>
                                    <div class="col-4 col-md-4 col-lg-4 text-right">
                                    	<div class="filters-toolbar__item">
                                      		
                                      		<select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort" style="background-color: black;color: aliceblue;">
                                                <option value="title-ascending" selected="selected">Sort </option>
                                                <option>Best Selling</option>
                                                <option>Alphabetically, A-Z</option>
                                                <option>Alphabetically, Z-A</option>
                                                <option>Price, low to high</option>
                                                <option>Price, high to low</option>
                                                <option>Date, new to old</option>
                                                <option>Date, old to new</option>
                                      		</select>
                                      		<input class="collection-header__default-sort" type="hidden" value="manual">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--End Toolbar-->
                        <div class="grid-products grid--view-items">
                            <div class="row">
                                {% for product in products %} 
                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="{% url 'product_detail' id=product.id %}" class="grid-view-item__link">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" src="{% get_media_prefix %}{{product.image1}}" style="height: 300px;object-fit: contain;"  alt="image" title="product">
                                                <!-- End image -->
                                            
                                            <!-- Start product button -->
                                        
                                            
                                            <!-- end product button -->
                                        </div>
                                        <!-- end product image -->
                    
                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="product-layout-1.html">{{ product.name }}</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="price">{{ product.price }}</span>
                                            </div>
                                            <!-- End product price -->
                                        
                                        </div>
                                    </div> 
                                {% endfor %}   
                            </div>
                        </div>
                    </div>
                    <div class="infinitpaginOuter d-block">
                        <div class="infinitpagin d-block">	
                            <ul id="siteNav" class="site-nav medium center hidearrow d-block" >
            
                                <li class="lvl1 parent megamenu"><a href="#"  style="background-color: black;color: aliceblue;">1<i class="anm anm-angle-down-l"></i></a>
                                   
                                </li>
                                <li class="lvl1 parent megamenu"><a href="#"  style="background-color: black;color: aliceblue;">2 <i class="anm anm-angle-down-l"></i></a>
                                   
                                </li>
                                  <li class="lvl1 parent megamenu"><a href="#" style="background-color: black;color: aliceblue;">3 <i class="anm anm-angle-down-l"></i></a>
                                     
                                  </li>
                                  <li class="lvl1 parent megamenu"><a href="#" style="background-color: black;color: aliceblue;">4<i class="anm anm-angle-down-l"></i></a>
                                      
                                  </li>
                            </ul>
                            </div>
                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
{% endblock %}
  